<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlaskTest</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
</head>

<body>
    <h1>Welcome to the E-Commerce Site</h1>
    <nav>
        <ul class="navigation">
            <li><a class="active" href="index.html">Home
                </a></li>
            <li><a href=" https://byui.instructure.com">Sign Up
                </a></li>
            <li><a href="https://github.com/Sadly4343">Log In
                </a></li>
        </ul>
    </nav>
    <div class="container">
        <form class="login" action="/login" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password:</label>
            <input type="text" id="password" name="password" required>
            <button type="submit"> Log In </button>

        </form>
    </div>
</body>

</html>